crispy-bootstrap5==2023.10
cryptography==41.0.7
Django==4.2.7
django-cleanup==8.0.0
django-ckeditor==6.7.0
django-crispy-forms==2.1
django-extensions==3.2.3
graphviz==0.20.1
Pillow==10.1.0
python-decouple==3.8
Werkzeug==3.0.1
