{% extends "base.html" %} {% block content %}
<div class="mt-3 mb-3">
  <h1>About Excession</h1>
  <p>
    An out of context problem or event - something that is so large or different
    from normal that it causes a system or society to change in a fundamental
    way. Originally defined by author Iain M Banks and used as the title of a
    novel. The corona virus is an excession. Now governments will consider
    giving money directly to the people instead of taxing them, as without the
    support everything we do will fail.
  </p>
  <a class="btn btn-outline-success btn-lg" href="{% url 'profile' %}">About the Author</a>
</div>

{% endblock content %}
