{% extends "base.html" %}

{% load static %}

{% block title %}| Posts{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center my-3">
  <a href="{% url 'post-create' %}" class="btn btn-success" style="width: 25rem;">Create a Post</a>
</div>
{% for post in posts %}
  <div class="card my-3">
  <div class="row g-0">
    <div class="col-md-4">
      {% if post.post_img %}
        <img src="{{ post.post_img.url }}" class="img-fluid rounded-start" alt="Post Image">
      {% else %}
        <img src="{% static 'images/default.jpg' %}" alt="Post default image" class="img-fluid rounded-start">
      {% endif %}
        
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'post' post.id %}" style="text-decoration: none; color: black;">{{ post.title }}</a></h5>
        <p class="card-text">{{ post.snippet|safe }}</p>
        <p class="card-text"><a href="{% url 'profile' %}" style="text-decoration: none; color: black;">{{ post.author.name }}</a></p>
        <p class="card-text"><small class="text-muted">Last updated {{ post.updated|timesince }} ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}